.container {
    display: flex;
    overflow: hidden;
    position: relative;
    grid-column: 1 / -1;
    flex-direction: column;
    padding: 3rem 13rem 10rem;

    @media screen and (max-width: 72em) {
        padding: 2rem 5rem 10rem;
    }

    @media screen and (max-width: 50em) {
        padding: 2rem 1.5rem 5rem;
    }
}

.heading {
    z-index: 4;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    p {
        font-size: 1.8rem;
        letter-spacing: 3px;
        text-transform: uppercase;

        @media screen and (max-width: 50em) {
            font-size: 1.7rem;
        }
    }
}

.info {
    display: flex;
    margin-top: 4rem;

    @media screen and (max-width: 50em) {
        margin-top: 2rem;
        flex-direction: column;
    }
}

.barcode {
    width: 18rem;
    height: 18rem;
    position: relative;
    margin-bottom: 2rem;

    @media screen and (max-width: 50em) {
        align-self: center;
    }

    + div {
        display: flex;
        margin-left: 2.5rem;
        flex-direction: column;

        & > *:not(:last-child) {
            margin-bottom: 0.4rem;
        }

        @media screen and (max-width: 50em) {
            margin-left: 0;
            align-self: center;
        }

        p {
            color: #828282;
            font-size: 1.45rem;

            &:first-of-type {
                span {
                    color: #0d8f84;
                    font-size: 2rem;
                }
            }

            &:not(:first-of-type) {
                span {
                    color: #212121;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

.grid {
    z-index: 4;
    gap: 0 15rem;
    display: grid;
    margin-top: 4rem;
    grid-template-rows: min-content;
    grid-template-columns: 1fr minmax(max-content, 30rem);

    @media screen and (max-width: 72em) {
        gap: 0 1.5rem;
    }

    @media screen and (max-width: 50em) {
        gap: 3rem 0;
        display: flex;
        flex-direction: column;
    }

    &__col {
        &:nth-of-type(1) {
            width: 100%;
            display: block;
            overflow-x: auto;

            &::-webkit-scrollbar {
                width: 0;
                height: 0.5rem;
            }

            &::-webkit-scrollbar-track {
                background: #ffffff;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 6px;
                background-color: #cccccc;
                border: 3px solid #cccccc;
            }
        }

        &:nth-of-type(2) {
            display: flex;
            padding: 0 2rem;
            flex-direction: column;

            @media screen and (max-width: 50em) {
                padding: 0;
            }

            h3 {
                display: block;
                font-weight: 400;
                color: #828282;
                font-size: 1.45rem;
                padding-bottom: 0.7rem;
                border-bottom: 1px solid #f2f2f2;
            }
        }
    }
}

.table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    thead,
    tbody {
        vertical-align: top;
        display: table-header-group;
    }

    thead,
    tbody {
        tr {
            display: table-row;

            th {
                color: #828282;
                text-align: left;
                font-weight: 400;
                font-size: 1.45rem;
                white-space: nowrap;
                padding: 0 1.8rem 0.7rem 1.8rem;

                @media screen and (max-width: 50em) {
                    padding: 0 1.5rem 0.7rem 1.5rem;
                }
            }

            td {
                font-size: 1.45rem;
                white-space: nowrap;
                padding: 2rem 1.8rem 2rem;
                border-top: 1px solid #f2f2f2;

                @media screen and (max-width: 50em) {
                    padding: 2rem 1.5rem 2rem;
                }
            }
        }
    }

    figure {
        width: 9rem;
        height: 9rem;
        position: relative;
    }

    .desc {
        h4 {
            font-weight: 400;
        }

        p {
            color: #bdbdbd;
            font-size: 1.37rem;
        }
    }

    .action {
        button {
            color: #e11493;
            font-size: 1.45rem;
            font-family: inherit;
            text-decoration: underline;
        }
    }
}

.summary {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;

    & > *:not(:last-child) {
        padding: 0.4rem 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-of-type {
            padding: 1.2rem 0;
            margin-top: 1.2rem;
            border-top: 1px solid #f2f2f2;
        }

        h4 {
            font-weight: 400;
            font-size: 1.45rem;
        }

        p {
            font-size: 1.45rem;
        }
    }
}
