.container {
    display: flex;
    overflow: hidden;
    position: relative;
    grid-column: 1 / -1;
    flex-direction: column;
    padding: 3rem 13rem 10rem;

    @media screen and (max-width: 72em) {
        padding: 3rem 5rem 10rem;
    }

    @media screen and (max-width: 50em) {
        padding: 3rem 1.5rem 5rem;
    }
}

.heading {
    z-index: 4;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    p {
        font-size: 1.8rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.accordion {
    width: 100%;
    min-width: 70rem;
    max-width: 70rem;
    align-self: center;
    margin-top: 2.7rem;

    @media screen and (max-width: 50em) {
        min-width: 100%;
        max-width: 100%;
    }
}

.list {
    list-style-type: none;

    &__item {
        display: flex;
        padding: 3.5rem 0;
        flex-direction: column;
        border-bottom: 1px solid #f2f2f2;

        button {
            border: 0;
            display: flex;
            cursor: pointer;
            color: #212121;
            background: none;
            align-items: center;
            font-family: inherit;
            justify-content: space-between;

            span {
                text-align: left;
                font-weight: 700;
                font-size: 1.7rem;

                &.active {
                    color: #e11493;
                }

                @media screen and (max-width: 64em) {
                    flex: 1;
                }
            }

            svg {
                width: 2.1rem;
                height: 2.1rem;
                fill: #212121;
            }
        }

        p {
            width: 80rem;
            margin-top: 3rem;
            font-size: 1.5rem;

            @media screen and (max-width: 64em) {
                width: 100%;
            }
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.45s ease-out;

        &[aria-expanded="true"] {
            max-height: 100vh;
        }
    }
}
