.container {
    display: flex;
    padding: 10rem 0 0;
    grid-column: 1 / -1;
    flex-direction: column;

    @media screen and (max-width: 50em) {
        padding: 7rem 0 0;
    }
}

.heading {
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    p {
        font-size: 1.8rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.grid {
    gap: 2.4rem;
    display: grid;
    margin-top: 4rem;
    padding: 0 13rem 0;
    grid-template-rows: repeat(8, 4.5vw);
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 72em) {
        padding: 0 5rem 0;
    }

    @media screen and (max-width: 50em) {
        gap: 1.5rem;
        margin-top: 2rem;
        padding: 0 1.5rem;
        grid-template-rows: repeat(24, 4.5vw);
    }

    figure {
        width: 100%;
        height: 100%;
        position: relative;

        div {
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            display: flex;
            padding: 2.5rem;
            position: absolute;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 50em) {
                padding: 1.5rem;
            }

            p {
                color: #ffffff;
                font-size: 1.43rem;
                text-transform: uppercase;
            }

            button {
                color: #ffffff;
                font-size: 1.4rem;
                align-self: flex-end;
                font-family: inherit;
                padding: 1.4rem 3rem;
                border: 1px solid #ffffff;
                transition: all 0.3s ease-in-out;

                @media screen and (max-width: 50em) {
                    padding: 1.2rem 2rem;
                }

                &:hover {
                    color: #212121;
                    background-color: #ffffff;
                }
            }
        }

        &:nth-of-type(1) {
            grid-row: 1 / 5;
            grid-column: 1 / 3;

            @media screen and (max-width: 50em) {
                grid-row: 1 / 6;
                grid-column: 1 / -1;
            }
        }

        &:nth-of-type(2) {
            grid-row: 1 / 4;
            grid-column: 3 / -1;

            @media screen and (max-width: 50em) {
                grid-row: 6 / 11;
                grid-column: 1 / -1;
            }
        }

        &:nth-of-type(3) {
            grid-row: 5 / 9;
            grid-column: 1 / 3;

            @media screen and (max-width: 50em) {
                grid-row: 11 / 16;
                grid-column: 1 / -1;
            }
        }

        &:nth-of-type(4) {
            grid-row: 4 / -1;
            grid-column: 3 / 4;

            @media screen and (max-width: 50em) {
                grid-row: 16 / -1;
                grid-column: 1 / 3;

                div {
                    align-items: center;

                    button {
                        align-self: center;
                    }
                }
            }
        }

        &:nth-of-type(5) {
            grid-row: 4 / -1;
            grid-column: 4 / -1;

            @media screen and (max-width: 50em) {
                grid-row: 16 / -1;
                grid-column: 3 / -1;

                div {
                    align-items: center;

                    button {
                        align-self: center;
                    }
                }
            }
        }
    }
}
