.container {
    height: 50rem;
    overflow: hidden;
    position: relative;
    background-color: #e11493;
}

.spiralLeft {
    top: 15%;
    left: -8.8rem;
    position: absolute;
}

.spiralRight {
    top: 15%;
    right: -9rem;
    position: absolute;
    transform: rotate(180deg);
}

.content {
    top: 50%;
    left: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);

    h2 {
        color: #ffffff;
        font-weight: 700;
        font-size: 3.9rem;
        text-align: center;
    }
}

.form {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;

    label {
        display: none;
    }

    input {
        border: 0;
        width: 25vw;
        outline: none;
        color: #ffffff;
        background: none;
        padding: 1.4rem 0;
        text-align: center;
        align-self: center;
        font-size: 1.45rem;
        font-family: inherit;
        border-bottom: 1px solid #ffffff;

        &::-webkit-input-placeholder {
            color: #ffffff;
        }
    }

    button {
        color: #ffffff;
        font-weight: 700;
        font-size: 1.5rem;
        align-self: center;
        padding: 2rem 4rem;
        margin-top: 3.8rem;
        font-family: inherit;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        background-color: #212121;
    }
}
