.container {
    display: flex;
    overflow: hidden;
    position: relative;
    grid-column: 1 / -1;
    flex-direction: column;
    padding: 3rem 13rem 10rem;

    @media screen and (max-width: 72em) {
        padding: 3rem 5rem 10rem;
    }
}

.heading {
    z-index: 4;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    p {
        font-size: 1.8rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.formPanel {
    display: flex;
    margin-top: 4rem;
    align-self: center;
    flex-direction: column;
}

.formElement {
    width: 100%;
    display: flex;
    min-width: 55rem;
    max-width: 55rem;
    margin-top: 1rem;
    align-self: center;
    flex-direction: column;

    & > *:not(:last-child) {
        margin-bottom: 2.4rem;
    }
}

.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        font-size: 1.45rem;
        margin-bottom: 0.4rem;

        span {
            color: #ff0000;
        }
    }
}

.col {
    width: 100%;

    h3 {
        font-weight: 700;
        font-size: 1.6rem;
        grid-column: 1 / -1;
        margin-bottom: 0.7rem;
    }

    &__grid {
        gap: 2.4rem;
        display: grid;
        margin-top: 0.5rem;
        grid-template-rows: min-content;
        grid-template-columns: repeat(2, 1fr);
    }

    &:first-of-type + .col &__grid {
        & > *:not(:last-child) {
            grid-column: 1 / -1;
        }

        & > *:last-child {
            grid-column: 1 / 2;
        }
    }

    &:last-of-type &__grid {
        gap: 0.2rem;
    }
}

.btnSubmit {
    width: 100%;
    font-weight: 700;
    color: #ffffff;
    grid-column: 1 / 2;
    font-size: 1.27rem;
    font-family: inherit;
    padding: 1.35rem 2rem;
    text-transform: uppercase;
    background-color: #e11493;
    transition: all 0.3s ease-in-out;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:enabled {
        background-color: #d11d8c;
    }
}

.btnChange {
    width: 100%;
    color: #e11493;
    font-weight: 700;
    margin-top: 1.5rem;
    grid-column: 1 / 2;
    font-size: 1.27rem;
    font-family: inherit;
    padding: 1.35rem 2rem;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #e11493;
    transition: all 0.3s ease-in-out;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:enabled {
        color: #ffffff;
        background-color: #d11d8c;
    }
}
