.container {
    display: flex;
    overflow: hidden;
    position: relative;
    grid-column: 1 / -1;
    flex-direction: column;
    padding: 3rem 13rem 10rem;

    @media screen and (max-width: 72em) {
        padding: 3rem 5rem 10rem;
    }

    @media screen and (max-width: 50em) {
        padding: 2rem 1.5rem 5rem;
    }
}

.content {
    width: 100%;
    min-width: 70rem;
    max-width: 70rem;
    align-self: center;
    margin-top: 2.7rem;

    @media screen and (max-width: 50em) {
        min-width: 100%;
        max-width: 100%;
    }
}