.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    display: flex;
    overflow: auto;
    position: fixed;
    align-items: center;
    flex-direction: column;
    padding: 15vh 1.5rem 0;

    @media screen and (max-width: 37.5em) {
        padding: 10vh 1rem 0;
    }

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &__hidden {
        display: none;
    }
}

.backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    width: 100%;
    outline: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border-radius: 0.4rem;
    flex-direction: column;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 36em) {
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
    }

    @media screen and (min-width: 48em) {
        max-width: 41rem;
    }
}

.content {
    height: 100%;

    &__body {
        font-weight: 400;
        padding: 1.5rem 1.4rem 1.5rem 1.4rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    h2 {
        font-size: 1.8rem;
        font-weight: 700;
    }
}

.rating__group {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;

    p {
        font-size: 1.65rem;
        text-align: center;
    }
}

.rating__grid {
    display: flex;
    margin: 0.8rem 0;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    button {
        display: flex;

        &:hover,
        &:hover ~ button {
            svg {
                fill: #f2c94c;
            }
        }

        &.active,
        &.active ~ button {
            svg {
                fill: #f2c94c;
            }
        }

        svg {
            width: 4rem;
            height: 4rem;
            fill: #828282;
        }
    }
}

.action {
    display: flex;
    margin-top: 2rem;
    justify-content: center;

    button {
        font-weight: 700;
        margin-top: 2rem;
        color: #ffffff;
        padding: 1.35rem 2rem;
        font-family: inherit;
        text-transform: uppercase;
        background-color: #e11493;
        transition: all 0.3s ease-in-out;

        &:disabled {
            cursor: not-allowed;
            background-color: #828282;
        }

        &:hover:enabled {
            background-color: #d11d8c;
        }

        + p {
            color: #828282;
            font-size: 1.3rem;
            text-align: center;
            margin-top: 1.4rem;

            a {
                &:link,
                &:visited {
                    color: #e11493;
                    margin-left: 0.3rem;
                }
            }
        }
    }
}

.open {
    animation: openModal 0.4s ease-out forwards;
}

.close {
    animation: closeModal 0.4s ease-out forwards;
}

/** MODAL ANIMATION START **/

@keyframes openModal {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 0.8;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    10% {
        opacity: 0.8;
        transform: scale(0.9);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/** MODAL ANIMATION END **/
