.container {
    top: 0;
    z-index: 20;
    display: flex;
    position: sticky;
    align-items: center;
    grid-column: 1 / -1;
    padding: 2rem 13rem;
    background: #fdf3fa;
    justify-content: space-between;

    @media screen and (max-width: 72em) {
        padding: 2rem 5rem;
    }

    &.default {
        background: #ffffff;
    }
}
