.container {
    top: 0;
    z-index: 20;
    display: grid;
    position: sticky;
    grid-column: 1 / -1;
    padding: 2rem 13rem;
    background-color: #fdf3fa;
    grid-template-rows: min-content;
    grid-template-columns: 1fr min-content 1fr;

    @media screen and (max-width: 72em) {
        padding: 2rem 5rem;
    }

    @media screen and (max-width: 50em) {
        display: flex;
        align-items: center;
        padding: 1.2rem 1.5rem;
        justify-content: space-between;
    }

    &.default {
        background: #ffffff;
    }
}
