@import "abstract/_font.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px * 100 = 62.5%; -> 1rem = 10px;

    @media screen and (min-width: 112.5em) {
        font-size: 72.5%;
    }
}

body {
    color: #212121;
    line-height: 1.6;
    font-weight: 400;
    background-color: #ffffff;
    font-family: "Harmonia Sans Pro Cyr", sans-serif;

    &::-webkit-scrollbar {
        width: 0.8rem;
        height: 0.8rem;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #cccccc;
        border: 3px solid #cccccc;
    }
}

button {
    border: 0;
    cursor: pointer;
    background: none;
}

select,
option {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}



.rec-slider-container {
    margin: 0 !important;
}